  body {
    margin: 0;
    overflow-x: hidden; /* 横方向のスクロールを禁止 */
  }
  
  header {
    background: linear-gradient(135deg, #FF0000, #FFFF00);
    color: #fff;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header img {
    width: 120px;
    height: auto;
    margin-right: 10px;
  }
  
  nav {
    background-color: #ffffff;
    padding: 10px;
    max-width: 1000px;
    width: auto;
    margin: auto;
  }
  
  nav ul {
    border-bottom: 1px solid blue; /* 青い下線を追加 */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li { 
    display: inline;
    margin-right: 45px;
  }
  
  nav ul li a {
    color: green;
    text-decoration: none;
    font-size: 20px;
  }

  nav ul li a:hover {
    color: blue; /* カーソルが合わさった時のテキスト色 */
  }
  
  tabs {
    padding: 20px;
    width: 100%; /* 横幅を100%に設定 */
  }

  main {
    text-align: center;
  }

  h1 {
    font-size: 3em;
    line-height: 1.2em;
    text-align: center;
  }

  h1 .subtitle {
    font-size: 0.6em;
    font-weight: normal;
  }

  main h1 {
    background: linear-gradient(135deg, #FF0000, #FFFF00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
  }
  
  main h1string {
    font-size: 20px;
  }

  main h1main img {
    width: 120px;
    height: auto;
  }

  .image-container {
    display: flex;
    justify-content: center;
    gap: 50px; /* 画像間の間隔 */
    margin-bottom: 50px;
  }
  
  .image-up {
    width: 140px; /* 画像の最大幅を100%に設定 */
    transition: transform 0.3s ease; /* アニメーションのトランジションを設定 */
  }
  
  .image-up:hover {
    transform: scale(1.1); /* ホバー時に画像を1.1倍に拡大 */
  }

  main h2 {
    font-size: 2em;
    background: linear-gradient(135deg, #FF0000, #FFFF00);;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
  }

  main li{
    display: flex;
    padding:15px;
    border-bottom:1px solid #000;
  }
  
  main .Blabel{
    background-color:blue;
  }

  main .Rlabel {
    background-color:red;
  }

  main .Vlabel {
    background-color: blueviolet;
  }

  main .Blabel,
  main .Rlabel,
  main .Vlabel {
    height: 100%;
    min-width: 65px;
    border-radius:1px;
    color:#fff;
    padding:2px 5px;
    margin:0 45px;
  }

  main .day {
    width: 10%;
  }

  main .text {
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #newsevent {
    width: 1100px;
    max-width: 100%; /* 横幅が画面幅を超えないように最大幅を設定 */
    height: 300px; /* スクロールの高さ */
    overflow-y: scroll;
    margin: 0 auto; /* 水平方向に中央に配置 */
    margin-bottom: 50px;
  }

  main h3 {
    font-size: 2em;
    background: linear-gradient(135deg, #FF0000, #FFFF00);;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
  }

  h3string {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
   
  @media screen and (min-width: 550px) { /* 750px以上の画面のみ横並びを適用 */
    p.side_text {
      display: inline-block;
      width: 450px;
      margin-left: 20px;
      vertical-align: top;
    }
  }

  .video-size {
    width: 100%;
    max-width: 560px;
    height: 320px;
  }

  main h4 {
    margin-top: 50px;
    font-size: 2em;
    background: linear-gradient(135deg, #FF0000, #FFFF00);;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
  }

  h4string {
    font-size: 25px;
  }

  main h5 {
    font-size: 2em;
    background: linear-gradient(135deg, #FF0000, #FFFF00);;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
  }

  h5string {
	  display: table;
	  margin: 0 auto;
  }

  footer {
    margin-top: 20px;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #888;
  }